{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Associados' %}{% endblock %}

{% block hero %}
  {% include '_components/hero.html' with title=_('Associados') action_template='associados/hero_action.html' %}
{% endblock %}

{% block content %}


<section class="max-w-6xl mx-auto py-12 px-4">
  {% include '_components/search_form.html' with q=request.GET.q %}

  <!-- Cards de totais -->
  <div class="mb-6 card-grid gap-4">
    {% include "_partials/cards/total_card.html" with label=_('Usuários') valor=total_usuarios %}
    {% include "_partials/cards/total_card.html" with label=_('Associados') valor=total_associados %}
    {% include "_partials/cards/total_card.html" with label=_('Nucleados') valor=total_nucleados %}
  </div>
  <div role="list" class="card-grid">
    {% for user in associados %}
      <div role="listitem">
        {% include '_components/card_usuario.html' with user=user %}
      </div>
    {% empty %}
      <p class="text-[var(--text-muted)]">{% trans "Nenhum associado encontrado." %}</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
