{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Associados' %}{% endblock %}

{% block content %}
{% include 'components/hero.html' with title=_('Associados') action_template='associados/partials/hero_action.html' %}


<section class="max-w-6xl mx-auto mt-8 px-4">
  <form method="get" class="mb-6 flex gap-2">
    <div class="relative flex-grow">
      <input
        id="q"
        name="q"
        value="{{ request.GET.q }}"
        class="peer placeholder-transparent border rounded px-3 py-2 w-full"
        placeholder="{% trans 'Buscar' %}"
      />
      <label
        for="q"
        class="absolute left-3 -top-2 text-xs text-neutral-700 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-sm peer-placeholder-shown:text-neutral-400 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-primary-600"
      >{% trans 'Buscar' %}</label>
    </div>
    <button type="submit" class="bg-primary text-white px-4 py-2 rounded">{% trans 'Buscar' %}</button>
  </form>

  <!-- Cards de totais -->
  <div class="mb-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {% include "partials/cards/total_card.html" with label=_('Usuários') valor=total_usuarios %}
    {% include "partials/cards/total_card.html" with label=_('Associados') valor=total_associados %}
    {% include "partials/cards/total_card.html" with label=_('Nucleados') valor=total_nucleados %}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for user in associados %}
      {% include "associados/partials/card.html" with user=user %}
    {% empty %}
      <p class="text-neutral-500">{% trans "Nenhum associado encontrado." %}</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
