###############################################################################
# Arquivos de configuração e ambiente
###############################################################################
.env
*.env

###############################################################################
# Python
###############################################################################
# Byte-code, metadados e cache
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.env/
.venv/

# Ferramentas
pip-wheel-metadata/
coverage.xml
htmlcov/

###############################################################################
# Django / banco local
###############################################################################
db.sqlite3
*.sqlite3
# Arquivos de mídia gerados
/media/
staticfiles/

###############################################################################
# Node / Front-end
###############################################################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###############################################################################
# Logs genéricos
###############################################################################
*.log
*.log.*
logs/
log/

###############################################################################
# VSCode / IDEs
###############################################################################
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

###############################################################################
# Sistemas de build/outputs
###############################################################################
dist/
build/
*.egg-info/
.vscode