Django==5.2.2
asgiref==3.8.1

# ASGI / WebSockets
channels==4.1.0
daphne==4.2.0
channels_redis==4.2.1
redis==5.0.7
websockets==15.0.1
httptools==0.6.4
uvicorn==0.35.0
watchfiles==1.1.0

# REST / API
djangorestframework==3.16.0
drf-nested-routers==0.93.5
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1
uritemplate==4.2.0

# Django extras
django-extensions==4.1
django-formtools==2.5.1
django-model-utils==5.0.0
django-phonenumber-field==8.1.0
django-prometheus==2.4.1
django-select2==8.4.1
django-simple-history==3.10.1
django-storages==1.14.6
django-tailwind==4.0.1
django-widget-tweaks==1.5.0

# Celery
celery==5.5.3
kombu==5.5.4
billiard==4.2.1
amqp==5.3.1
vine==5.1.0

# DB / Utils
psycopg2-binary==2.9.10
python-dotenv==1.1.1
python-slugify==8.0.4
inflection==0.5.1
pytz==2025.2
tzdata==2025.2
typing_extensions==4.14.0
sqlparse==0.5.3
packaging==25.0

# AWS / Storage
boto3==1.40.1
botocore==1.40.1
s3transfer==0.13.1

# Segurança / Cripto / Sentry
cryptography==45.0.4
pyOpenSSL==25.1.0
pyotp==2.9.0
sentry-sdk==2.34.1
service-identity==24.2.0

# PDFs / Planilhas / Relatórios
pdfminer.six==20250506
pdfplumber==0.11.7
pypdfium2==4.30.0
openpyxl==3.1.5
tablib==3.5.0
reportlab==4.2.0

# Outros utilitários
Pygments==2.19.2
requests==2.32.4
urllib3==2.5.0
idna==3.10
certifi==2025.7.14
charset-normalizer==3.4.2
pillow==11.2.1
qrcode==8.2
pywebpush==1.14.0
prometheus_client==0.20.0
structlog==25.4.0
rich==14.0.0

# Twisted stack (usado por autobahn/daphne em alguns cenários)
autobahn==24.4.2
Twisted==25.5.0
hyperlink==21.0.0
incremental==24.7.2
constantly==23.10.4
zope.interface==7.2
txaio==25.6.1
attrs==25.3.0
