black==24.4.2
ruff==0.4.4
isort==5.10.1
bandit==1.7.7
pytest>=7.0
pre-commit>=3.6
pytest-benchmark>=4.0
prometheus-client==0.20.0
bleach==6.2.0
twilio==9.2.3
WeasyPrint==61.2
django-silk==5.1.0
sentry-sdk==2.34.1
