# Linters / formatadores
black==24.4.2
isort==5.10.1
ruff==0.12.3

# Testes
pytest==8.4.1
pytest-django==4.11.1
pytest-cov==6.2.1
coverage==7.9.2
freezegun==1.5.3
factory_boy==3.3.3
Faker==24.9.0
beautifulsoup4==4.13.4

# Tipagem
mypy_extensions==1.1.0
django-stubs==5.2.2
django-stubs-ext==5.2.2
djangorestframework-stubs==3.16.1
types-requests==2.32.4.20250611
types-PyYAML==6.0.12.20250516

# Ferramentas auxiliares
bandit==1.7.7
django-extensions==4.1
django-silk==5.4.0
gprof2dot==2025.4.14
nodeenv==1.9.1
virtualenv==20.31.2
setuptools<81

# Notificações push
onesignal-sdk==2.0.0
pywebpush==2.0.3
