asgiref==3.8.1
Django==5.2.2
django-appconf==1.1.0
django-formtools==2.5.1
django-phonenumber-field==8.1.0
django-select2==8.4.1
django-tailwind==4.0.1
Faker==24.9.0
phonenumbers==9.0.7
pillow==11.2.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
channels==4.1.0
