{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Ativar 2FA" %} | HubX{% endblock %}

{% block hero %}
  {% include '_components/hero.html' with title=_("Ativar 2FA") %}
{% endblock %}

{% block content %}
{% include '_partials/sidebar.html' %}
  <form method="post" class="max-w-md mx-auto card">
    <div class="card-body space-y-6">
      {% csrf_token %}
      <img src="data:image/png;base64,{{ qr_base64 }}" alt="{% trans 'QR Code' %}" class="mx-auto" />
      {% include '_forms/field.html' with field=form.code %}
      {% include '_forms/field.html' with field=form.password %}
      <button type="submit" class="btn btn-primary w-full">{% trans "Ativar" %}</button>
    </div>
  </form>

{% endblock %}
