{% extends 'base.html' %}
{% block title %}Novo Evento | Hubx{% endblock %}

{% block content %}
<section class="perfil-section active">
    <div class="empresa-form-container">
        <h1 class="form-title">{% block form_title %}Cadastrar Evento{% endblock %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions" style="justify-content:flex-end;">
                <a href="{% url 'eventos:list' %}" class="btn-secondary">Cancelar</a>
                <button type="submit" class="btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
