{% load i18n %}
{% for item in historicos %}
<tr>
  <td class="px-4 py-2 whitespace-nowrap">{{ item.enviado_em|date:'Y-m-d H:i' }}</td>
  <td class="px-4 py-2 whitespace-nowrap">{{ item.data_referencia|date:'Y-m-d' }}</td>
  <td class="px-4 py-2">{{ item.get_canal_display }}</td>
  <td class="px-4 py-2">{{ item.get_frequencia_display }}</td>
  <td class="px-4 py-2">{{ item.conteudo|join:", " }}</td>
</tr>
{% empty %}
<tr>
  <td colspan="5" class="px-4 py-2 text-center text-[var(--text-secondary)]">{% trans 'Nenhuma notificação' %}</td>
</tr>
{% endfor %}
