{% extends "base.html" %}
{% block content %}
<section>
    <h1>Lista de Inscrições</h1>
    <table>
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Evento</th>
                <th>Status</th>
                <th>Presente</th>
                <th>Avaliação</th>
                <th>Valor Pago</th>
                <th>Método de Pagamento</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for inscricao in inscricoes %}
            <tr>
                <td>{{ inscricao.user }}</td>
                <td>{{ inscricao.evento }}</td>
                <td>{{ inscricao.get_status_display }}</td>
                <td>{{ inscricao.presente }}</td>
                <td>{{ inscricao.avaliacao }}</td>
                <td>{{ inscricao.valor_pago }}</td>
                <td>{{ inscricao.get_metodo_pagamento_display }}</td>
                <td>{{ inscricao.observacao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
