{% extends "perfil/perfil_subpage_base.html" %}
{% load static %}
{% block title %}Feed{% endblock %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'feed/css/feed.css' %}">
{% endblock %}
{% block perfil_subpage_content %}
<div class="feed-container">
    <div class="feed-header">
        <h1 class="feed-title">Feed Global</h1>
        <a href="{% url 'feed:nova_postagem' %}" class="btn btn-primary">
            <span class="btn-icon">+</span>
            Nova Postagem
        </a>
    </div>
    
    {% include "feed/_post_list.html" with posts=posts empty_icon="📝" empty_title="Nenhuma postagem ainda" empty_message="Seja o primeiro a compartilhar algo!" empty_button="Criar primeira postagem" %}
</div>
{% endblock %}
