{% load i18n %}
{% url 'empresas:detail' empresa.pk as detail_url %}
{% trans 'Ver detalhes da empresa' as sr_label %}
{% with base_title=empresa.nome %}
  {% if empresa.deleted %}
    {% trans 'excluída' as excluida %}
    {% with title=base_title|add:' ('|add:excluida|add:')' %}
      {% include '_partials/cards/base_card.html' with url=detail_url cover=empresa.cover avatar=empresa.avatar title=title details='_components/card_details_empresa.html' sr_label=sr_label %}
    {% endwith %}
  {% else %}
      {% include '_partials/cards/base_card.html' with url=detail_url cover=empresa.cover avatar=empresa.avatar title=base_title details='_components/card_details_empresa.html' sr_label=sr_label %}
  {% endif %}
{% endwith %}
