{% extends "perfil/perfil_subpage_base.html" %}
{% load static %}

{% block title %}Dashboard Cliente | Hubx{% endblock %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block perfil_subpage_content %}
<h1>Dashboard Cliente</h1>
<ul>
  <li>Usuários: {{ num_users }}</li>
  <li>Organizações: {{ num_organizacoes }}</li>
  <li>Núcleos: {{ num_nucleos }}</li>
  <li>Empresas: {{ num_empresas }}</li>
  <li>Eventos: {{ num_eventos }}</li>
</ul>
{% endblock %}
