{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Conexões" %}{% endblock %}

{% block hero %}
  {% include '_components/hero_conexoes.html' with title=_('Conexões') subtitle=_('Gerencie suas conexões dentro da organização') action_url=search_page_url action_icon='user-round-plus' total_conexoes=total_conexoes total_solicitacoes=total_solicitacoes total_solicitacoes_enviadas=total_solicitacoes_enviadas %}
{% endblock %}

{% block content %}
  {% include 'conexoes/includes/dashboard_content.html' with search_form_action=search_form_action search_form_hx_get=None search_form_hx_target=None search_form_hx_push_url=None search_page_hx_get=None search_page_hx_target=None search_page_hx_push_url=None %}
{% endblock %}
